# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Firebase
# Ignore the service account key file
src/lib/firebase-service-account.json

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turborepo
.turbo

# Genkit
.genkit/
.genkit-cache/
*.log