# Fichiers de dépendances
/node_modules
/.pnp
.pnp.js

# Fichiers de build Next.js
/.next/
/out/
/build

# Fichiers de configuration locaux
.env
.env*.local
next.config.ts

# Fichiers de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers d'éditeur et d'environnement
/.vscode
/.idea
/.idx

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
.modified

# Fichier de lock des dépendances (à ignorer pour les applications)
package-lock.json

# Fichiers de cache TypeScript
*.tsbuildinfo
